@import "tailwindcss";

@theme {
  /* THEME COLORS */
  --color-primary: #7d4283;
  --color-on-primary: #ffffff;
  --color-secondary: #646a69;
  --color-on-secondary: #ffffff;
  --color-surface: #ffffff;
  --color-on-surface: #161616;
  --color-background: #ffffff;
  --color-on-background: #161616;
  --color-accent: #e879f9;
  --color-accent-variant: #7951b3;
  --color-warning: #f3722c;
  --color-overlay: #c75ed05e;

  /* FONTS */
  --font-primary: var(--font-poppins);
  --font-display: var(--font-grotesk);
}
