@import "tailwindcss";

@theme {
  /* THEME COLORS */
  --color-primary: #7d4283;
  --color-on-primary: #ffffff;
  --color-secondary: #646a69;
  --color-on-secondary: #ffffff;
  --color-surface: #ffffff;
  --color-on-surface: #161616;
  --color-background: #ffffff;
  --color-on-background: #161616;
  --color-accent: #e879f9;
  --color-accent-variant: #7951b3;
  --color-warning: #f3722c;
  --color-overlay: #c75ed05e;

  /* GRADIENTS */
  --gradient-text: linear-gradient(
    93.17deg,
    #e879f9 28.64%,
    rgba(199, 94, 208, 0.37) 88.38%
  );

  /* FONTS */
  --font-primary: var(--font-poppins);
  --font-display: var(--font-grotesk);
}

/* UTILITY CLASSES */
.text-gradient {
  background: var(--gradient-text);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; /* Fallback for older browsers */
}

/* SCROLLBAR HIDING */
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
